version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    container_name: movie_db
    restart: always
    environment:
      POSTGRES_DB: movies_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
